@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
* {
  /* @apply text-[#333333]; */
}

body {
  font-family: Nunito;
  font-size: 16px;
}

.align-elements {
  @apply max-w-7xl mx-auto px-5;
}

@layer components {
  .text-peach {
    @apply text-[#FFAD94];
  }
  .bg-peach {
    @apply bg-[#FFAD94];
  }
  .border-peach {
    @apply border-[#FFAD94];
  }
}
